spring-test/src/main/java/org/lsh/test/resource/lsh.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.springframework.org/schema/lsh"
		elementFormDefault="qualified">

	<element name="myPw">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="userName" type="string"/>
			<attribute name="emailAddress" type="string"/>
		</complexType>
	</element>
</schema>